body {
    background-color: #FFFADD;
    background-image: url("../images/cooking.jpg");
    font-family: 'Josefin Slab', serif;
}

h1 {
  text-align: left;
  color: #44813E;
  font-weight: bold;
  font-size: 30px;
}

h2 {
  text-align: center;
  font-size: 5vw;
  font-weight: bold;
  color: #44813E;
}

h3 {

}

h4 {
  color: white;
}

/* unvisited link */
a:link {
    color: #92C24C;
}

/* visited link */
a:visited {
    color: black;
}

/* mouse over link */
a:hover {
    color: #44813E;
}

/* selected link */
a:active {
    color: black;
}

.navbar {
  background-color: #92C24C;
  color: #44813E;
}

.recipe-card {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px 5px 20px 5px;
    border: 5px dotted #FCD949;
    border-radius: 8px;
    background-color: #FFFADD;
}

.card-header {
  background-color: #92C24C;
  font-size: 20px;
  font-weight: bolder;
}

.button-recipe {
  margin-bottom: 30px;
}

.hidden {
  display: none;
}

.footer {
  background-color: #44813E;
}

.footer-content {
  margin: 10px;
}

.container-full {
  background-color: #FFFADD;
}

.footer-green {
  padding-left: 18px;
}

.social-media {
  padding-right: 25px;
}
